body {
  height: 30rem;
  width: 31.25rem;
  margin: auto;
  margin-top: 1.25rem;
  background-image: url("./img/Mapa.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 43.75rem 53.12rem;
}

.soundOn {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.soundOff {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.opened {
  display: none;
}

#char {
  display: flex;
  flex-direction: row-reverse; /* colocando o charizard na direita */
  margin-bottom: 3.125rem;
  height: auto;
  width: 37.5rem;
  gap: 6.25rem;
}

#blas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 34.37rem;
  gap: 3.12rem;
  margin-bottom: -0.94rem;
}

.left img {
  max-width: 100%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right .lifebar {
  width: 12.5rem; /* Ajusta o tamanho da barra de vida */
  margin-bottom: 0.62rem;
}

.attackButton {
  margin-top: 0.62rem;
  padding: 0.31rem 0.94rem;
  font-size: 0.88rem;
  cursor: pointer;
}

.lifebar {
  display: flex;
  height: 0.62rem;
  border: 1px solid #333;
  border-radius: 0.31rem;
}

.lifebar .bar {
  height: inherit;
  background-color: green;
  border-radius: 0.31rem;
}

.log {
  overflow-y: scroll;
  color: #fff;
  height: 11.25rem;
  width: 40.94rem;
  margin-bottom: 100px;
}

.log-banner {
  height: 13.43rem;
  width: 43.75rem;
  background-color: #000;
  border-radius: 0.94rem;
  margin-left: -6.25rem;
}

.log-border {
  height: 12.5rem;
  width: 42.5rem;
  position: relative;
  top: 0.31rem;
  background-color: yellow;
  border-radius: 0.94rem;
  margin-left: 0.62rem;
  margin-right: 0.62rem;
}

.log-content {
  height: 11.25rem;
  width: 40.63rem;
  border-radius: 0.94rem;
  position: relative;
  top: 0.75rem;
  margin: 0.94rem;
  background-color: blue;
}

@media (width > 250px < 775px) {
  body {
    width: 100%;
    margin: 0;
    background-size: cover;
  }

  .log {
    width: 100%;
  }

  .log-banner,
  .log-border,
  .log-content {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
